.App {
  text-align: center;
  /* margin-top: 50px; */
}
/* .Table{
  background-color: black;
  color: white;
  margin-left: 420px;
}
.Form{
  border: 2px double black;
  height: 700px;
  width: 300px;
  margin-left: 630px;
  margin-bottom: 100px;
  margin-top: 100px;
}
#Button{
  border-radius: 10px;
  cursor: pointer;
} */
/* .Card{
  border: 3px solid #2874F0;
  margin-left: 10px;
  margin-right: 10px;
  width: 330px;
  height: 565px;
  margin-bottom: 50px;
}
#h1{
  background-color: #2874F0;
  color: white;
  padding: 15px;
}
#hr{
  background-color: #2874F0;
  height: 1px;
}
#login{
  color: white;
  margin-left: 1180px;
  margin-top: -70px;
}
#seller{
  color: white;
  margin-left: 1260px;
  margin-top: -43px;
}
#cart{
  color: white;
  margin-left: 1430px;
  margin-top: -43px;
}
.sale{
  width: 1500px;
} */
